@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<title>Bases de Datos | Lupus' Team</title>

<div class="page-header">
    <h1>Bases de Datos</h1>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<h2>
				Mongo DB
			</h2>
			<p>
                Sistema de base de datos NoSQL orientado a documentos, desarrollado bajo el concepto de código abierto.Características principales:
                <ul>
                    <li>Consultas Ad hoc</li>
                    <li>Indexación</li>
                    <li>Replicación</li>
                    <li>Balanceo de carga</li>
                    <li>Almacenamiento de archivos</li>
                    <li>Agregación</li>
                    <li>Ejecución de JavaScript del lado del servidor</li>
                </ul>

			</p>
		</div>
		<div class="span4">
			<h2>
				MS SQL Server   
			</h2>
			<p>
                Sistema para la gestión de bases de datos producido por Microsoft basado en el modelo relacional. Características principales:
                <ul>
                    <li>Soporte de transacciones</li>
                    <li>Soporta procedimientos almacenados</li>
                    <li>Incluye también un entorno gráfico de administración, que permite el uso de comandos DDL y DML gráficamente</li>
                    <li>Permite trabajar en modo cliente-servidor, donde la información y datos se alojan en el servidor y los terminales o clientes de la red sólo acceden a la información</li>
                    <li>Además permite administrar información de otros servidores de datos</li>
                </ul>
			</p>
		</div>
		<div class="span4">
			<h2>
				MySQL
			</h2>
			<p>
                MySQL es un sistema de gestión de bases de datos relacional, multihilo y multiusuario. Características principales:
                <ul>
                    <li>Amplio subconjunto del lenguaje SQL</li>
                    <li>Disponibilidad en gran cantidad de plataformas y sistemas</li>
                    <li>Transacciones y claves foráneas</li>
                    <li>Conectividad segura</li>
                    <li>Replicación</li>
                    <li>Búsqueda e indexación de campos de texto</li>
                </ul>
			</p>
		</div>
	</div>
</div>