@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Front-End | Lupus' Team</title>

<div class="page-header">
    <h1>Front-End</h1>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="thumbnail span4">
            <h1>Presentacion</h1>
            <h3>
                Bootstrap
            </h3>
            <p>
                Twitter Bootstrap es una colección de herramientas de software libre para la creación de sitios y aplicaciones web. Contiene plantillas de diseño basadas en HTML y CSS con tipografías, formularios, botones, gráficos, barras de navegación y demás componentes de interfaz, así como extensiones opcionales de JavaScript.
            </p>
        </div>
        <div class="thumbnail span8">
            <h1>Lenguajes</h1>
            <div class="span4">
                <h3>
                    JavaScript
                </h3>
                <p>
                    JavaScript es un lenguaje de programación interpretado que fue diseñado con una sinaxis similar a C. Hoy por hoy todos los navegadores modernos interpretan el código JavaScript integrado en las páginas web. Para interactuar con una página web se provee al lenguaje JavaScript de una implementación del Document Object Model (DOM). orientado a objetos, esta basado en prototipos, imperativo, débilmente tipado y dinámico. Características principales:
                    <ul>
                        <li>Dinámico</li>
                        <li>Esta basado en prototipos</li>
                        <li>Débilmente tipado</li>
                        <li>Orientado a objetos</li>
                    </ul>
                </p>
            </div>
            <div class="span4">
                <h3>
                    jQuery
                </h3>
                <p>
                    jQuery es una biblioteca de JavaScript, creada inicialmente por John Resig, que permite simplificar la manera de interactuar con los documentos HTML, manipular el árbol DOM, manejar eventos, desarrollar animaciones (FLV) y agregar interacción con la técnica AJAX a páginas web. Actualmente es la biblioteca de JavaScript más utilizada.
                </p>
            </div>
        </div>
    </div>
</div>